<!DOCTYPE html>
{% load staticfiles %}
<html lang="ja" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
	<meta name="viewport" content="width=device-width,user-scalable=no,maximum-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	<!-- ※タブレット用のスタイル（tablet.css） -->
	<!-- <link rel="stylesheet" media="all" type="text/css" href="hometablet.css" /> -->
	<!-- ※スマートフォン用のスタイル（smart.css） -->
	<!-- <link rel="stylesheet" media="all" type="text/css" href="homesmart.css" /> -->
		
	<meta charset="UTF-8">
	<title>AGEs</title>
	<!--検索エンジン向けの情報を提供する-->
	<meta name="description" content="アイドル、俳優、お酒、おもちゃ。好きなものの写真を時系列で整理しませんか。"/>
	<meta name="keywords" content="画像,俳優,アイドル,女優,酒,おもちゃ,プラットフォーム,PLATFORM,FACEBOOK,Twitter"/>
	
	<!-- Bootstrap -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}">
    <link rel="stylesheet" href="{% static "css/common.css" %}">
    <link rel="stylesheet" href="{% static "css/home.css" %}">
	<script type="text/javascript" src="{% static "js/jquery-1.11.3.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
    
</head>

<body>
	<div id="style" class="container bs-docs-container">
		<div class="row">
        	<a id="headages" href="/AGEs/" class="navbar-brand"></a>
		</div>

        <div id="title" class="col-lg-12" role="main">
			<!--AGEs-->
			<h1>
				<span id=icon class="glyphicon glyphicon-expand"></span>
				AGEs 
			</h1>
		</div>

		<!--What's AGEs-->
		<div id="whatsages">
			<a id="whatsages" href="/AGEs/about/">What's AGEs ?</a>
		</div>

		<!-- Menu-->
		<div id="Menu">
			<!--Person-->
			<button onclick="location.href='/AGEs/person/'" type="button" class="btn btn-info btn-lg btn-block" id="person">Person</button> 
			<!--Object-->
			<button onclick="location.href='object.html'" type="button" class="btn btn-info btn-lg btn-block" id="object">Object</button> 
		</div>
		
		<div id="logo">
			<!--@AGEs-->
			<h5>@AGEs</h5>
		</div>
	</div>	
	
<!--<a class="facebook-iine" href="～html"
onClick="window.open(encodeURI(decodeURI(this.href)),
      'sharewindow',
      'width=550, height=450, personalbar=0, toolbar=0, scrollbars=1, resizable=!'
      ); return false;">
Facebook</a>

<a class="twitter-tweet" href="～html"
      onClick="window.open(encodeURI(decodeURI(this.href)),
      'tweetwindow',
      'width=550, height=450, personalbar=0, toolbar=0, scrollbars=1, resizable=!'
      ); return false;">
    twitter</a>

<a class="hatenabtn2" href="～html">はてなブックマーク</a>

<a class="gplusbtn" href="～html" onclick="window.open(this.href, 'Gwindow', 'width=650, height=450, menubar=no, toolbar=no, scrollbars=yes'); return false;">Google＋</a>
-->
</body>
</html>