{% extends 'AGEs/base.html' %}
{% load staticfiles %}

{% block title %}AGEs/Person{% endblock %}

{% block body_title %}Person{% endblock %}

{% block upload %}/AGEs/add_person/{% endblock %}

<!-- 下記から各画面依存　-->
{% block body_block %}
<link rel="stylesheet" href="{% static "css/person.css" %}">
<h2 id="glyphicons-glyphs">All List</h2>
<div class="row" id="list">
	{% if items %}
        {% for item in items %}
        <div class="col-xs-6 col-sm-4 col-md-2"><a href="/AGEs/item/{{ item.id }}">{{ item.item_name }}({{ item.num_of_pictures}})</a></div>
        {% endfor %}
	{% else %}
		<strong>There is no person present.</strong>
	{% endif %}
</div>
<br>
{% endblock %}
