<!DOCTYPE html>
{% load staticfiles %}
<html lang="ja" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
	<meta name="viewport" content="width=device-width,user-scalable=no,maximum-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
		
	<meta charset="UTF-8">
	<title>{% block title %}AGEs{% endblock %}</title>
	<!--検索エンジン向けの情報を提供する-->
	<meta name="description" content="アイドル、俳優、お酒、おもちゃ。好きなものの写真を時系列で整理しませんか。"/>
	<meta name="keywords" content="画像,俳優,アイドル,女優,酒,おもちゃ,プラットフォーム,PLATFORM,FACEBOOK,Twitter"/>
	
	<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}">
    <link rel="stylesheet" href="{% static "css/common.css" %}">
	<script type="text/javascript" src="{% static "js/jquery-1.11.3.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>

</head>

<body>
	<div id="style" class="container bs-docs-container">
		<!--
		<div class="row">
	        <a id="headages" href="/AGEs/" class="navbar-brand">AGEs</a>
	    </div>
	    -->	
	    <br>
	    <br>
        <div class="col-md-12" role="main">
        	<div class="bs-docs-section">
		  		<h1 id="title" class="page-header">
		 			<!--<span id=icon class="glyphicon glyphicon-user"></span>-->
		 			{% block body_title %}AGEs{% endblock %}
		  		</h1>
			</div>
			
			<ul class="nav nav-pills">
				<li id="home"><a href="/AGEs/">
					<span id=mini_icon class="glyphicon glyphicon-home"></span>				
					Home
				</a></li>
  				<li id="alllist" class="active"><a href="/AGEs/object/">
  					<span id=mini_icon class="glyphicon glyphicon-th-list"></span>			
  					All List
  				</a></li>
  				<li id="upload"><a href="{% block upload %}/AGEs/add_object/{% endblock %}">
	  				<span id=mini_icon class="glyphicon glyphicon-upload"></span>
  					Upload
  				</a></li>
				<!--
				<form id="search" method="get" action="input_search.html">
					<p>
						<input type="search" name="q" size="30" placeholder="Search name" required> 
						<input type="submit" value="Search" class="btn btn-default btn-xs">
					</p>
				</form>
				-->
				{% block body_search %}
				<li id="custom-search-input">
					<form id="search_form" method="post" action="/AGEs/search_object/" class="form-inline text-right">
						{% csrf_token %}
						<input type="search" maxlength="25" class="form-control input-lg" name="item_name" placeholder="Enter NAME" />
						<input type="submit" class="btn btn-default btn-lg" value="Search">
					</form>
				</li>
				{% endblock %}
			</ul>
		</div>
		<!-- 下記から各画面依存　-->
		{% block body_block %}
		{% endblock %}
		<div id="header_aff">
			<!--▼▼ アフリエィト ▼▼-->
			<!-- <script type="text/javascript" src="http://100516.advision-adnw.jp/t/001/038/a1001038.js"></script> -->
			<!--▲▲ アフリエィト ▲▲-->
		</div>
		<div id="logo">
			<!--@AGEs-->
			<h5>@AGEs</h5>
		</div>
	</div>
</body>
</html>
