	  		
{% extends 'AGEs/base.html' %}
{% load staticfiles %}

{% block title %}AGEs/Person/Pictures{% endblock %}

{% block body_title %}Person{% endblock %}

{% block upload %}/AGEs/add_picture/{{ id }}{% endblock %}

<!-- 下記から各画面依存　-->
{% block body_block %}
<link rel="stylesheet" href="{% static "css/personname.css" %}">
<!-- Lightbox -->
<link rel="stylesheet" href="{% static "css/lightbox.css" %}">
<link rel="stylesheet" href="{% static "js/lightbox.min.js" %}">
<h2 id="glyphicons-glyphs">{{ item_name }}</h2>
<div class="row" id="list">
	<ul class="thumbzoom clearfix">
		{% if item_name %}
            {% if pictures %}
                {% for picture in pictures %}
                <!-- picture.image.url の".url"を書くことがポイント！これで画像を表示できる -->
                <li>
                	<a href="{{ picture.image.url }}" rel="lightbox[group1]">
                		<img src="{{ picture.image.url }}">
                	</a>
                </li>
                {% endfor %}
            {% else %}
                <strong>No pictures currently in category.</strong>
            {% endif %}
        {% else %}
            The specified category {{ item_name }} does not exist!
        {% endif %}
	</ul>
</div>
{% endblock %}

