<!DOCTYPE html>
<html>
    <head>
        <title>AGEs</title>
    </head>

    <body>
        <h1>Add a Picture</h1>

        <form id="picture_form" method="post" action="/AGEs/add_picture/">

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
                <br>
            {% endfor %}

            <input type="submit" name="submit" value="Post Picture" />
        </form>
    </body>

</html>