{% extends 'AGEs/base.html' %}
{% load staticfiles %}

{% block title %}AGEs/Person{% endblock %}

{% block body_title %}Person{% endblock %}

{% block upload %}/AGEs/add_person/{% endblock %}

<!-- 下記から各画面依存　-->
{% block body_block %}
<h2 id="glyphicons-glyphs">Create Person</h2>
<link rel="stylesheet" href="{% static "css/upload.css" %}">
<form id="person_form" method="post" action="/AGEs/add_person/">
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
    	{{ hidden }}
    {% endfor %}
	<p>
		Person name		: 
		<input id="id_item_name" maxlength="128" name="item_name" type="text" />
	</p>
	<br>
	<input class="btn btn-danger" type="submit" name="submit" value="Create New Person" />
	<br>
</form>
<br>
{% endblock %}
