@charset "UTF-8";

body, html{
	height:50%;
	background-color:white;
	text-align: center;
}
/*
#style{
	width: 50%;
	height: 50%;
	padding: 10px;
	margin: 0 auto;
	text-align: left;
}
*/

/*header*/
#header{
	/*色*/
	color:gray;
	/*文字の太さ*/
	font-weight:bold;
	/*文字大きさ*/
	font-size: 16px;
	/*文字の位置*/
	text-align: left;
	/*フォント*/
	font-family: Arial;
	/*上下の空白*/
	line-height: 10px;
	/*配置*/
	float:left;
	position:relative;
}

#header1{
	float: left;
}
#header li{
	display:inline;
}

#side{
	text-align:left;
	font-size:20px;
}

/*title*/
h1{
	color:black;
	font-weight:bold;
	font-size: 60px;
	text-align: center;
	font-family: Arial;
	line-height: 40px;
}
/*enter*/
#enter{
	color:black;
	font-weight:bold;
	font-size: 20px;
	text-align: center;
	font-family: Arial;
	line-height: 25px;
}
#enter li{
	display:inline;
}

/*picture*/
#picture{
	text-align: center;
	line-height: 5px;
	max-width: 100%;
    height: auto;
    display:block;
}
/*logo*/
#logo{
	color:gray;
	font-weight:bold;
	font-size: 20px;
	text-align: center;
	font-family: Arial;
	line-height: 5px;
}
/*footer*/
#footer{
	color:gray;
	font-weight:bold;
	font-size: 14px;
	text-align: right;
	font-family: Arial;
	line-height: 15px;
}
#footer li{
	display:inline;
}

@media (max-width: 100px) {
     #header, h1, #enter, #logo, #picture, #header {
          float: none;
          margin: 0;
          width: auto;
     }
