/*Username�̓o�^*/
#uploadtable{
	margin-top:1em;
	color:black;
	font-weight:bold;
	font-size: 14px;
	text-align: left;
	font-family: MS Sans Serif;
	line-height: 20px;
}

#id_picture_name{
	position: relative;
	#left: 100px;
}
#id_age{
	position: relative;
	#left: 159px;
}
#id_description{
	position: relative;
	#left: 125px;
}
#id_image{
	position: relative;
	#left: 202px;
}
    
